.link {
    color: black !important;
    text-decoration: auto;
}

.link :hover{
    color:grey;
}

.link :after :before{
    color:grey;
}

.card {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.category {
    color:grey;
}

.card img {
    display: flex;
    align-self: center;
    align-items: center;
    width: 100%;
    height: 230px;
    max-width: auto;  
}

.hr {
    border: .5px solid red;
    width: 150px;
}