.link {
    color: black !important;
    text-decoration: auto;
}

.link :hover{
    color:grey;
}

.link :after :before{
    color:grey;
}

.card {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.category {
    color:grey;
}